<table class="table is-fullwidth">
    <thead>
    <tr>
        <th>Track</th>
        <th>Artist</th>
        <th>Duration</th>
    </tr>
    </thead>
    <tbody>
    {{#each playlist.tracks}}
        <tr>
            <td>
                {{title}}
            </td>
            <td>
                {{artist}}
            </td>
            <td>
                {{duration}}
            </td>
            <td>
                <! _id is Track id >
                <a href="/playlist/{{@root.playlist._id}}/deleteTrack/{{_id}}" class="button">
                    <span class="icon is-small">
                        <i class="fas fa-trash"></i>
                    </span>
                </a>
            </td>
        </tr>
    {{/each}}
    </tbody>
</table>
